<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">

  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="........................."/>
  <meta name="keywords" content="............................"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="but.ae"/>
  <!-- mobile viewport -->
  <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">


  <title>Guzzle - Home</title>

  <!-- icons -->
  <link rel="shortcut icon" href="assets/images/icons/favicon.ico?v=50">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/icons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" sizes="196x196" href="assets/images/icons/favicon-196x196.png">
  <link rel="icon" type="image/png" sizes="160x160" href="assets/images/icons/favicon-160x160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/icons/favicon-96x96.png" >
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
  <meta name="msapplication-TileColor" content="#17a652">
  <meta name="msapplication-TileImage" content="assets/images/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/libs/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/libs/cosmo.min.css">
  <link rel="stylesheet" href="assets/css/libs/animations.css">
  <link rel="stylesheet" href="assets/css/libs/side-menu.css">
  <link rel="stylesheet" href="assets/css/libs/owl.css">
  <link rel="stylesheet" href="assets/font-awesome-4.4.0/css/font-awesome.css">





  <!-- local -->

  <link rel="stylesheet" href="assets/css/addons.css">
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- JS -->
  <script src="assets/js/libs/modernizr.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>


  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>


  <style type="text/css">

  </style>


</head>
 
<div id="preloader">
  <div id="status">
    <img alt="logo-splash" src="assets/images/logo-white.png" class="logo-splash" width="180" style="display:none;" /><br>
    <p class="loading"></p>
  </div>
</div>

<body ng-app="geo" class="page-list" style="display:none;">

  <div ng-controller="mainController" class="parent-map">


    <!--================ side menu ================-->

    <nav class="user-menu" id="cd-lateral-nav">
      <div class="container">
        <span id="email-id" class="user-name" style="display:none;"></span>
        <span class="device-id" style="display:none;" >5000137e9cca5e8</span>
        <span class="login" id="login" style="display:none;">undefined</span>
        <span class="mynames"  style="display:none;"></span>
        <span class="entry" style="display:none;"></span>
        <span class="offer-nos" style="display:none;"></span>
        <span class="dob-nos" style="display:none;"></span>


        <div class="row profile bg-color-b v-align-row">
          <div class="col-xs-4 no-padding-bottom v-align">
            <img alt="140x140"  id="smallImage" src="http://lorempixel.com/140/140/" class="img-circle" onclick="getPhoto(pictureSource.PHOTOLIBRARY);" />
          </div>
          <div class="col-xs-8 reset color-c v-align">
            <h4> <span class="name">Guzzler</span></h4>

            <p>Saved since Dec 2015</p>
            <h3 class="save"><strong><span class="price">0</span></strong><em>AED</em></h3>
          </div>
        </div>


        <div class="user-settings row centered bg-color-fff v-align-row no-hover">
          <div class="col-xs-4 v-align reset">
            <a href="" ng-click="loginId();"><i class="fa fa-dollar"></i></a>
          </div>
          <div class="col-xs-4 v-align reset gear">
            <a href="#profile"><i class="fa fa-user"></i></a>
          </div>
          <div class="col-xs-4 v-align reset feedback">
            <a  data-toggle="modal" data-target="#app-feed"><i class="fa fa-commenting "></i></a>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 ">
            <div class="row">
              <div class="col-xs-12 search-box">
                <div class="form-group">
                  <input type="text" class="form-control filter-input" id="inputEmail3"  ng-model="test" placeholder="Search" />
                  <a ng-click="hideMenu();">
                    <i class="fa fa-search font-search" ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 filter reset " ng-if="cars">
            <h4><strong>Filter outlet</strong></h4>

            <ul class="reset"  ng-init="group = (cars | groupBy:'type')">
              <li ng-repeat="m in group" >
                <div class="switch f-right"  >
                  <input id=" {{m}}" class="cmn-toggle cmn-toggle-round" type="checkbox"   ng-model="useMakes[$index]">
                  <label for="{{m}}"></label>
                </div>
                {{m}}
              </li>
            </ul>
          </div>
        </div>
      </div><!-- container -->

<!--

    <a class="invite" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <div>Invite Friends<br><div class="light-text"><span class="invite-left"></span>invites left</div>
    </div>
  -->


  <a class="invite" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <div class="f-left">Invite friends <br/>
      <span class="pos-a light-text"><span class="invite-left">0</span> left</span>
    </div>
    <i class="f-right fa fa-angle-up"></i></a>


  </a>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <p >Invite your friends to join guzzle.</p>


      <div class="input-group">
        <input type="text" class="form-control invite-email" placeholder="Friend email">
        <span class="input-group-btn">
          <button class="btn btn-default send" ng-click="inviteUser();" type="button">Send</button>

        </span>

      </div><!-- /input-group -->
      <p class="invite-success" style="display:none;">Your invitation has been send.</p>
    </div>
  </div>



</nav>

<!------------ overlay ------------>
<div class="overlay z-up"></div>

<!--================ top menu ================-->
<header class="top-menu v-align-p z-upup">

 <a id="cd-menu-trigger" class="cd-icon icon-left ico menu "></a>
 <a id="cd-logo" class="guzzle-logo " ng-click="pullDownAction();"></a>
 <a class="cd-icon icon-right ico list" ng-click='list()'></a>
 <a class="cd-icon icon-right ico mapy" data-ajax="false" ng-click='Mapsfn(map.latitude,map.longitude)'></a>
 <div class="result " style="display:none;" >{{cars.length}} outlets</div>

 <a class="cd-icon icon-left ico back" href="#/" ng-click="updateProfile();" ></a>
 <a class="cd-icon icon-right ico back feedback" data-toggle="modal" data-target="#outlet-feed"></a>


</header>




<!-- Modal -->
<div id="acc-activated" class="modal fade ">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Account Information</h4>
      </div>

      <div class="modal-body">
        <h4 class="modal-title">Your account is active</h4>
      </div>

    </div>

  </div>
</div>

<div id="invite-friends" class="modal fade ">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Invite your friends!</h4>
      </div>

      <div class="modal-body">
        <h4 class="modal-title">You can send 10 invites to your best friends to invite them to our guzzle launch. In the process you can gain free subscription months in the upcoming upgrade. For every person that subscribes after your invitation you receive one month free. What are you waiting for? Use the button at the bottom of the menu...</h4>
      </div>
      <div class="modal-footer">

        <a type="button" id="modal-submit" class="btn btn-default"  href="#/">Invite Friends </a>
      </div>

    </div>

  </div>
</div>





<!-- Modal -->
<div id="myModal" class="modal fade"  data-controls-modal="modal-submit"

>
<div class="modal-dialog" role="document">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Register now!</h4>
    </div>
    <div class="modal-body activation">
      <div>
        <input type="text" class="modal-screen" placeholder="Name">
      </div>
      <div style="margin-top:10px;">
        <input type="text" class="modals-id" placeholder="Email address">
      </div>
      <div style="margin-top:10px;">
        <input type="checkbox"  name="terms" class="modals-id terms"  checked="checked" value="yes">
        I agree to the <a href="http://www.getguzzle.com/page/terms-and-use" class=""> <u>terms of use </u></a>
      </div>
       <p class="register-error" style="display:none;">All fields are mandatory.</p>
    </div>

    <div class="modal-footer">
      <button type="button" id="modal-submit" class="btn btn-default"   onclick="createData();">Register </button>
    </div>
  </div>
</div>
</div>



<div id="profile-complete" class="modal fade ">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Please complete your profile!</h4>
      </div>

      <div class="modal-body">
        <h4 class="modal-title">Complete your profile and start redeeming offers now.</h4>
      </div>
      <div class="modal-footer">

        <a type="button" id="modal-submit" class="btn btn-default"  href="#/profile">Complete Profile </a>
      </div>

    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="app-feed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel">Guzzle Feedback</h4>
      </div>

      <div class="terms-step1">
        <div class="modal-body">
          <p>How do you like the guzzle app? Send us your suggestions and feedback.</p>
          <textarea type="input" class="feedback-text"></textarea>
          <p class="feedback-success" style="display:none;">Thanks for your feedback.</p>
        </div>

        <div class="modal-footer center">
         <button type="button" id="modal-submit" class="btn btn-default"  ng-click="feedApp();">Send</button>
       </div>
     </div>

   </div>
 </div>
</div>







<!-- Modal -->
<div class="modal fade" id="outlet-feed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel">Outlet Feedback</h4>
      </div>

      <div class="terms-step1">
        <div class="modal-body">

          <!-- <p>Did the voucher worked for you?</p> -->

          <div class="radio">
            <label><input type="radio"  name="status" class="status" checked="checked" value="declined">The offer was declined.</label>
          </div>

          <div class="radio">
            <label><input type="radio"  name="status" class="status" value="worked">Worked perfectly!</label>
          </div>

          <p></p>
          <textarea type="textarea" class="outfeed" placeholder="Comments"></textarea>
          <p class="outlet-success" style="display:none;">Thanks for your feedback.</p>

        </div>
        <div class="modal-footer center">
         <button type="button" id="modal-submit" class="btn btn-default"  ng-click="feedOut()">Send</button>
       </div>
     </div>

   </div>
 </div>
</div>

<!-- Modal -->
<!-- Modal -->
<div id="version-modal" class="modal fade "  data-controls-modal="modal-submit"
data-backdrop="static"
data-keyboard="false">
<div class="modal-dialog" role="document">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4>Update your app</h4>
    </div>

    <div class="modal-body">
      <h4 class="modal-title">Please update app to continue using our services.</h4>
    </div>

  </div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="demoBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-controls-modal="modal-submit"
data-backdrop="static"
data-keyboard="false">
<div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <h4 class="modal-title" id="myModalLabel"><!--Age Verification-->Welcome to the guzzle app</h4>
  </div>

  <div class="terms-step1">

    <div class="modal-body centered dob-body">
     <!-- <p>Welcome to the guzzle app. </p> -->
     <p>Please enter your date of birth</p>
     <input id="date" type="text" class="dob" class="modal-screen" placeholder="MM   ǀ   DD   ǀ   YYYY">
     <button type="button" class=" btn btn-default dob-modal" >Enter</button>
   </div>

 </div>

</div>
</div>
</div>

<div class="modal fade" id="demoBox2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel">Terms and conditions</h4>
      </div>

      <div >
        <div class="modal-body">
          I am of legal drinking age and not Muslim.
        </div>
        <div class="modal-footer center">
          <button type="button" class=" btn btn-default" data-dismiss="modal">Agree</button>
          <button type="button" class="steps btn btn-default" data-dismiss="modal">Disagree</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="offline-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        Connection Lost
      </div>
      <div class="modal-body">
        <p>Seems like you lost connection to the rest of the world. Go to a place that has some wireless internet juice and our offers will be up for grabs again :-)</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>







<main class="mz-main-content main"  >





  <!------------ map ------------>
  <div class="maps" style="display:none;" >
    <div id="map_canvas" ui-map="model.myMap"    class="map home-map" ui-options="mapOptions">

      <div ng-repeat="marker in markers" ng-model="productObject">
      </div>
    </div>
  </div>


  <div id="wrapper" class="container ">
    <div id="scroller" class="dynamic view-list reset">

      <div class="" >

        <!------------ list ------------>
        <div class="row list-show" ng-repeat="car in nas=(cars|filter:test|filter:filterMakes()|orderBy:'+ distance' )">


          <a id="pages-{{car.urltitle}}" class="" data="#outlet/{{car.urltitle}}/{{car.title}}" ng-click="checkinternet(car.urltitle);"  >
            <div class="col-xs-4 centered no-padding-bottom reset image" style="background:url({{(car.logo) || 'assets/images/logo.png'}})">

            </div>

            <div class="item-content no-padding-bottom" ng-if="cars && homemaintitle">
              <h4 class="color-a title">{{car.title}}</h4>
              <ul class="list-inline">
                <li ng-if="car.show!=0"><img alt="80x80" src="assets/images/css/new.png" class="tag img-new" /></li>
                <!-- <li><img alt="80x80" src="assets/images/css/update.png" class="tag img-update" /></li> -->
                <li class="bar">{{car.type}}<span ng-if="car.location"> | {{car.location}}<span></li>
                <!-- <li class="color-a rating">Offer Value Total :  <span class="total-value-{{car.urltitle}}"> </span> AED</li> -->
              </ul>
              <ul class="list-inline">
                <li><i class="fa fa-clock-o"></i>Last Call: <strong>{{car.lastcall}}</strong></li>

                <!-- <li class="f-right"><i class="fa fa-map-marker"></i><strong>{{car.distance}}</strong> km</li> -->
              </ul>
            </div>
            <div>
              <ul class="no-list list-inline distance-box">
               <li class="f-right"><i class="fa fa-map-marker"></i><strong>{{car.distance}}</strong> km</li>
             </ul>
           </div>
         </a>
       </div><!-- /row 1 item -->




     </div><!-- /container -->
   </div>
 </div>
</main><!-- mz-main-->


<div class="ng-view"></div>



</div><!-- mainController -->
<!--================ content ================-->





<div class="js">


  <script src="http://maps.googleapis.com/maps/api/js?sensor=true&language=en"></script>
  <script type="text/javascript" src="assets/js/libs/jquery-1.7.min.js"></script>
  <script src="assets/js/libs/angular.min.js"></script>
  <script src="assets/js/geolocationmarker-compiled.js"></script>
  <script src="assets/js/angular-route.js"></script>
  <script src="assets/js/libs/jquery.min.js"></script>
  <script src="assets/js/libs/bootstrap.min.js"></script>
  <script src="assets/js/event.js"></script>
  <script src="assets/js/ui-map.min.js"></script>
  <script src="assets/js/libs/cssBrowserSelector.js"></script>
  <script src="assets/js/libs/appear.js"></script>
  <script src="assets/js/libs/matchHeight.js"></script>
  <script src="assets/js/libs/localScroll.js"></script>
  <script src="assets/js/libs/scrollUp.js"></script>
  <script src="assets/js/jquery.pjax.js"></script>
  <script src="assets/js/libs/owl.js"></script>
  <script src="assets/js/libs/sideMenu.js"></script>
  <script src="assets/js/libs/hammer.js"></script>
  <script src="assets/js/libs/angular.hammer.js"></script>
  <script src="assets/js/libs/gestures.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/iscroll.js"></script>
  <script src="assets/js/readmore.js"></script>
  <script src="assets/js/jquery.maskedinput.min.js"></script>
  <script src="assets/js/angular-touch.min.js"></script>
  <script src="assets/js/script.js"></script>

 
 <script type="text/javascript" src="cordova.js"></script>
 <script type="text/javascript" src="js/index.js"></script>


</div><!-- end js -->
</body>

<script type="text/javascript">
var e = $('.dummy');var net=0;

for (var i = 0; i < 2; i++) {
  e.clone().insertAfter(e);
}




</script>
</html>
