
<div ng-controller="profileController">


	<!-- <br/> -->


	<!--================ content ================-->

	<main class="mz-main-content profile-page" id="" >
		<div class="container" >
			<div class="dynamic ">
				<div class="container reset"   >

					<h1>Edit profile</h1>




					<form  role="form">
						<div class="row">
							<div class="form-group col-md-12">
								<label>Name</label>
								<input type="text" name="" value="{{namer}}" class="form-control screen-name"/>
							</div>
						</div>


						<div class="row">
							<div class="form-group col-md-12">
								<label>Gender: </label>
								<label ng-repeat="name in gender" for="{{name}}" class="radio-inline">

									<input type="radio"
									ng-model="profiles.gender"
									ng-value="name"

									name="cf_gender">
									    {{name}}
								</label>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label>Mobile number</label>
								<input type="text" name="cf_mobile" value="{{mobile}}" class="form-control mobile"/>
							</div>

							<div class="form-group col-md-12">
								<label>City</label>
								<input type="text" name="cf_city" value="{{city}}" class="form-control city"/>
							</div>

						</div>



						<div class="row">
							<div class="form-group col-md-12">
								<label>Country</label>
								<input type="text" name="cf_country" value="{{country}}" class="form-control country"/>
							</div>
						</div>



						<div class="row">
							<div class="form-group col-md-12">
								<label>Nationality</label>
								<input type="text" name="cf_nationality" value="{{nationality}}" class="form-control nationality"/>
							</div>

							<div class="form-group col-md-12">

								<label>List Alcohol</label>
								<label ng-repeat="name in alcohol" for="{{name}}" class="radio-inline">
									<!--<input type="radio" ng-model="profiles.alcohol" ng-value="name" name="alcohol">
									{{name}}-->
								</label>

								<div class="switch f-right">
									<input id="bar" class="cmn-toggle cmn-toggle-round cmn-toggle-yes-no " type="checkbox"  data-on="Yes" data-off="No" >
									<label for="bar" data-on="Yes" data-off="No"></label>
								</div>
							</div>
						</div>

<!--
						<div class="form-group col-md-12">
							<input type="submit" value="Update" ng-click="update();" class="btn btn-default" />
						</div>
-->
					</form>


						<p class="success" style="display:none">Your profile has been updated</p>
						<p class="error" style="display:none">Your profile has been updated with errors. Please try again</p>




				</div> <!-- /dynamic -->
			</div><!-- /container -->
		</div>
	</main><!-- mz-main-->
	<!-- Modal -->

</div><!-- mainController -->
